body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; }

a {
  color: #35382B;
  text-decoration: underline; }
  a:hover {
    color: #4E6649;
    text-decoration: none; }

#site-header {
  padding: 50px 0px;
  background: #fbfdc9;
  margin-bottom: 50px; }
  #site-header h1 {
    font-size: 50px;
    font-weight: 700;
    color: #35382B; }
    #site-header h1 img {
      width: 80px;
      position: relative;
      top: -5px;
      margin-right: 10px; }
  #site-header h6 {
    margin-bottom: 20px;
    color: #35382B; }
    #site-header h6 a {
      color: #35382B;
      text-decoration: underline; }
      #site-header h6 a img {
        width: 24px;
        margin-right: 5px;
        position: relative;
        top: -2px; }
    #site-header h6 .share-links img {
      width: 20px; }
  #site-header .button {
    margin: 0px; }

.info-section {
  padding: 0px 0px; }
  .info-section p {
    font-size: 14px;
    margin: 0px;
    max-width: 400px; }

.menu-section {
  margin-bottom: 30px; }
  .menu-section .menu a {
    color: #282828;
    border: 2px solid #282828;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 7px;
    font-weight: 600; }
    .menu-section .menu a.fill {
      background: #fbfdc9; }

.filter-section h2 {
  font-size: 36px;
  margin-bottom: 20px; }

.filter-section select {
  border-radius: 5px;
  border: none;
  border: 2px solid #CAD48B;
  box-shadow: none;
  height: 40px;
  margin-bottom: 20px; }

.filter-section .type-selection {
  margin-bottom: 20px;
  display: flex; }

.filter-section input[type='radio'] {
  display: none; }

.filter-section input[type='radio'] + label {
  font-size: 14px;
  color: #35382B;
  border: 2px solid #CAD48B;
  padding: 7px 10px 5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 40px;
  flex: auto; }
  .filter-section input[type='radio'] + label img {
    height: 20px;
    width: auto;
    margin-right: 5px;
    position: relative;
    top: -2px; }
  .filter-section input[type='radio'] + label:hover {
    border-color: #35382B; }

.filter-section input[type='radio']:checked + label {
  border-color: #35382B;
  background: #fbfcc9; }

.filter-section .button {
  font-size: 18px;
  line-height: 30px;
  background-color: #282828;
  border-radius: 7px;
  display: block;
  width: 100%;
  padding: 10px 12px; }
  .filter-section .button:hover, .filter-section .button:focus {
    background-color: #282828; }

.filter-section select option {
  text-transform: capitalize; }

.content {
  padding: 20px 0px; }
  .content a {
    color: #282828; }
    .content a:hover, .content a:active, .content a:focus {
      color: #282828; }
  .content ul {
    list-style: none;
    margin: 0px; }
    .content ul li {
      margin-bottom: 30px; }
      .content ul li .wrap {
        padding: 20px;
        padding-bottom: 10px;
        border-radius: 5px;
        position: relative;
        border: 2px solid #4E6649;
        height: 100%;
        position: relative; }
        .content ul li .wrap img {
          width: 20px;
          position: relative;
          top: -2px;
          margin-right: 5px; }
        .content ul li .wrap p {
          margin-bottom: 10px;
          font-size: 14px; }
        .content ul li .wrap p.shop-name {
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 16px;
          text-transform: capitalize; }
        .content ul li .wrap p.location {
          font-size: 14px; }
        .content ul li .wrap .leave-feedback {
          color: #4E6649;
          text-decoration: underline;
          position: absolute;
          right: 20px;
          bottom: 20px;
          font-weight: 600;
          font-size: 12px; }
        .content ul li .wrap h6.type {
          font-size: 14px;
          color: #4E6649;
          font-weight: 600;
          text-transform: uppercase; }
      .content ul li .contact a {
        font-size: 24px;
        font-weight: 700;
        color: #4E6649;
        line-height: 24px;
        display: block;
        margin-bottom: 10px; }

.main-site-navigation {
  background: #35382B; }
  .main-site-navigation .menu a {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-right: 2px solid #4E6649;
    font-size: 14px; }
    .main-site-navigation .menu a:hover, .main-site-navigation .menu a.active {
      background: #4E6649; }

span.share-links {
  margin-left: 30px; }
  span.share-links a {
    margin-right: 0px;
    margin-left: 10px; }

.loading-data {
  color: #CAD48B;
  padding-left: 15px; }

.page {
  padding-bottom: 50px; }
  .page h2 {
    font-size: 36px;
    margin-bottom: 20px; }

.menu-open, .menu-close {
  display: none; }

@media screen and (max-width: 640px) {
  #site-header {
    padding: 30px 0px;
    margin-bottom: 30px; }
  #site-header h1 {
    font-size: 27px;
    margin-bottom: 30px; }
  #site-header h1 img {
    width: 36px;
    top: -3px;
    margin-right: 5px; }
  #site-header h6 {
    margin: 0px; }
  .filter-section .type-selection {
    display: block; }
  .content ul li .wrap {
    padding: 15px; }
  .content ul li .contact a {
    font-size: 20px;
    margin-bottom: 5px; }
  .content ul li .wrap p {
    font-size: 14px; }
  span.share-links {
    display: block;
    margin-top: 15px;
    margin-left: 0px; }
  .menu-open, .menu-close {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background: #fbfdc9; }
  .menu-open {
    display: block; }
  .menu-open.open {
    display: none; }
  .menu-close.open {
    display: block; }
  .menu-close {
    background: #35382B;
    padding: 10px; }
  .main-site-navigation {
    display: none; }
    .main-site-navigation.open {
      display: block;
      position: absolute;
      top: 70px;
      left: 0px;
      z-index: 9999;
      padding: 20px; }
      .main-site-navigation.open .menu li {
        width: 100%; }
        .main-site-navigation.open .menu li a {
          border: 0px;
          border-bottom: 1px solid #4E6649;
          font-size: 16px;
          padding: 15px 0px; }
        .main-site-navigation.open .menu li:last-child a {
          border: 0px; } }
