
$black: #282828;
$white: #ffffff;

// font-family: 'Roboto', sans-serif;

// font-family: 'Baloo Da 2', cursive;





body {font-family: 'Poppins', sans-serif; font-weight: 400;}
h1, h2, h3, h4, h5, h6 {font-family: 'Poppins', sans-serif; font-weight: 700;}

#site-header{padding: 50px 0px; background: #fbfdc9; margin-bottom: 50px;
  h1 {font-size: 50px; font-weight: 700; color:#35382B;
    img {width: 80px; position: relative; top: -5px; margin-right: 10px;}
   }
   h6 {margin-bottom: 20px; color: #35382B;
     a {color: #35382B; text-decoration: underline; margin-right: 20px;
       img {width: 24px; margin-right: 5px; position: relative; top: -2px;}
     }
   }
   .button {margin: 0px;}
}

.info-section{padding: 0px 0px;
    p{font-size:14px;margin:0px; max-width: 400px;}
}

.filter-section {
    h2{ font-size: 36px;margin-bottom: 20px;}
    select {border-radius:5px; border:none; border: 2px solid #CAD48B; box-shadow: none; height: 40px; margin-bottom: 20px;}
    .type-selection {margin-bottom: 20px;}

    input[type='radio'] {display: none;}

    input[type='radio'] + label {font-size: 14px; color: #35382B; border: 2px solid #CAD48B; padding: 7px 10px 5px; font-weight: 600; text-transform: uppercase; line-height: 20px; border-radius: 5px; margin-left: 0px; margin-right: 10px;
      img {height: 20px; width: auto; margin-right: 5px; position:relative; top: -2px;}
      &:hover { border-color: #35382B;}
    }

    input[type='radio']:checked + label {border-color: #35382B; background: #fbfcc9;}

    .button { font-size: 18px; line-height: 30px; background-color: $black; border-radius: 7px; display:block;width:100%;padding: 10px 12px;
        &:hover, &:focus{background-color: $black;}
    }
    select option {text-transform: capitalize;}
}

.content{padding: 20px 0px;
    a{color: $black;
        &:hover, &:active, &:focus{color: $black;}
    }
    ul{list-style: none; margin: 0px;
        li{padding: 20px; border-radius: 5px; margin-bottom:20px;position: relative; border: 2px solid #4E6649;
            .contact {display: flex; flex-direction: row;justify-content: space-between;
                p{margin-right: 10px;  font-size: 18px; margin-bottom: 10px;}
                .call-whatsapp { font-size: 13px; margin-bottom: 0px; margin-top: 4px;}
            }
            .other-info{display: flex; flex-direction: row; max-width: 90%;
                p{margin-right: 10px;  font-size: 13px; margin-bottom: 0px;}
            }
        }
    }
}
