<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Goa for you</title>
    <meta name="title" content="Goa for you - Together we deal with the crisis ">
    <meta name="description" content="We come together to help each other in crisis. This is one place where you can find all the approved home delivery services for your Essentials like Groceries and more. ">
    <meta name="keywords" content="goa, covid-19, corona, goa help, goa for you">

    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header id="site-header">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <h1><img src="img/goa-for-you-logo.svg" alt="">Goa For You</h1>
          </div>
          <div class="cell medium-6">
            <p><strong>Goa for you</strong> is a crowdsourced social welfare benefit initiative. A listing website to locate the nearest home delivery service for your daily essentials in terms of groceries and other basic requirements.</p>
<h6><a href="https://docs.google.com/forms/d/e/1FAIpQLSdIwhoXWbVNd6_ZIXTAV8lCkmLo_cwuZ8jVY6rkssdYJA4Upw/viewform?usp=sf_link" class="" target="_blank"><img src="img/list.svg" alt="">Contribute to this listing</a> #StaySafeStayHome</h6>

          </div>
        </div>
      </div>
    </header>


    <section class="filter-section">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-2">
            <h6>Filter by Location</h6>
            <select name="areas" id="areas">
                <option value="">Select your area</option>
                <option value="aldona">Aldona</option>
                <option value="bicholim">Bicholim</option>
                <option value="canca">Canca</option>
                <option value="candolim">Candolim</option>
                <option value="donapaul">Donapaul</option>
                <option value="fatorda">Fatorda</option>
                <option value="mapusa">mapusa</option>
                <option value="marcela">Marcela</option>
                <option value="mardol">mardol</option>
                <option value="margao">margao</option>
                <option value="miramar">miramar</option>
                <option value="morjim">morjim</option>
                <option value="nagoa">nagoa</option>
                <option value="netravali">netravali</option>
                <option value="panaji">panaji</option>
                <option value="ponda">ponda</option>
                <option value="porvorim">porvorim</option>
                <option value="sanguem">sanguem</option>
                <option value="sanquelim">sanquelim</option>
                <option value="sanvordem">Sanvordem</option>
                <option value="shiroda">shiroda</option>
                <option value="succoro">succoro</option>
                <option value="usgao">usgao</option>
                <option value="valpoi">valpoi</option>
                <option value="vasco">vasco</option>
                <option value="verna">verna</option>
            </select>
          </div>

            <div class="cell medium-10">

            <h6>Filter by commodity</h6>

            <div class="type-selection">
                <input type="radio" name="type" id="all" checked value="all">
                <label for="all"><img src="img/all.svg" alt="">All</label>

                <input type="radio" name="type" id="grocery" value="grocery">
                <label for="grocery"><img src="img/grocery.svg" alt="">Grocery Shops</label>

                <input type="radio" name="type" id="medical" value="medical">
                <label for="medical"><img src="img/medical.svg" alt="">Medical Shops</label>

                <input type="radio" name="type" id="milk" value="milk">
                <label for="milk"><img src="img/milk.svg" alt="">Milk Shops</label>

                <input type="radio" name="type" id="vegetables" value="vegetables">
                <label for="vegetables"><img src="img/vegitable.svg" alt="">Vegetable Shops</label>

                <input type="radio" name="type" id="fish" value="fish">
                <label for="fish"><img src="img/fish.svg" alt="">Fish Vendors</label>
            </div>

          </div>
          </div>
            <!-- <button id="filter" class="button">FILTER</button> -->
        </div>
    </section>
    <section class="content">
        <div class="grid-container">
            <ul id="contact-list" class="grid-x grid-padding-x">
                <li class="cell medium-6" v-for="(contact,index) in contactList" :id="index">
                  <div class="wrap">
                    <div class="contact">
                      <a v-for="phone in contact.phone" :href="`tel:${phone}`" ><span>{{phone}}</span></a>
                      <h6 class="type">
                              {{contact.type.join(", ")}}
                      </h6>



                    </div>
                    <div class="other-info">
                        <p class="shop-name">
                            {{contact.shopName}}
                        </p>

                        <p class="location"><img src="img/location.svg" alt="">{{contact.location}}</p>
                        <p class="call-whatsapp">
                            Order by: <b v-if="contact.whatsapp==='no' || contact.whatsapp==='' ">Call only</b>
                            <b v-if="contact.whatsapp==='yes'">Call only</b>
                        </p>
                    </div>
                    <a class="more-link" v-if="contact.anyImage != '' " :href="contact.anyImage" target="_blank" rel="noopener noreferrer">More info</a>
                  </div><!-- Wrap -->
                </li>
                <li v-if="contactList.length === 0">
                    <h2 class="text-center">No results found!</h2>
                    <p class="text-center">To add information please
                        <a style="color: blue; text-decoration: underline;" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdIwhoXWbVNd6_ZIXTAV8lCkmLo_cwuZ8jVY6rkssdYJA4Upw/viewform?usp=sf_link">click here</a></p>
                </li>
            </ul>

        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@5.0.10-beta/dist/fuse.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/data.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
