<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Goa for you</title>
    <meta name="title" content="Goa for you - Together we deal with the crisis ">
    <meta name="description" content="We come together to help each other in crisis. This is one place where you can find all the approved home delivery services for your Essentials like Groceries and more. ">
    <meta name="keywords" content="goa, covid-19, corona, goa help, goa for you">

    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Goa for you - Together we deal with the crisis" />
    <meta property="og:url" content="https://goaforyou.in" />
    <meta property="og:image" content="img/og-image.jpg" />

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- <link rel="icon" type="image/png" href="favicon.png"> -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129808010-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129808010-2');
    </script>



    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div class="main-site-navigation">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="delivery-volunteers.html">Delivery Volunteers List</a></li>
            <li><a href="emergency.html">Emergency Services List</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-open"><img src="img/menu.svg" alt=""></div>
  <div class="menu-close"><img src="img/close.svg" alt=""></div>

    <header id="site-header">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <h1><img src="img/goa-for-you-logo.svg" alt="">Goa For You</h1>
          </div>
          <div class="cell medium-6">
            <p><strong>Goa For You</strong> is a crowdsourced social welfare initiative. A response to COVID-19, this is a listing website to locate <a href="https://goaforyou.in/">shops</a>, <a href="https://goaforyou.in/delivery-volunteers.html">delivery volunteers</a> and <a href="https://goaforyou.in/emergency.html">emergency</a> services near you.</p>
            <h6><a href="https://docs.google.com/forms/d/e/1FAIpQLSdIwhoXWbVNd6_ZIXTAV8lCkmLo_cwuZ8jVY6rkssdYJA4Upw/viewform?usp=sf_link" class="" target="_blank"><img src="img/list.svg" alt="">Contribute to this listing</a> <span class="share-links">Share:
              <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//goaforyou.in/" target="_blank"><img src="img/fb.svg" alt=""></a>
              <a href="https://twitter.com/intent/tweet?text=Locate%20the%20nearest%20home%20delivery%20service%20for%20your%20daily%20essentials%20in%20Goa%3A%20https%3A//goaforyou.in/" target="_blank"><img src="img/twitter.svg" alt=""></a>
              <a href="whatsapp://send?text=Locate the nearest home delivery service for your daily essentials in Goa: https://goaforyou.in/" data-action="share/whatsapp/share" target="_blank"><img src="img/whatsapp.svg" alt=""></a>
            </span></h6>
          </div>
        </div>
      </div>
    </header>

    <section class="filter-section">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-2">
            <h6>Filter by Location</h6>
            <select name="areas" id="areas">
                <option value="">Select your area</option>
                <option value="aaradi">Aaradi</option>
                <option value="aldona">Aldona</option>
                <option value="all goa">All Goa</option>
                <option value="ambaji">Ambaji</option>
                <option value="ambaulim">Ambaulim Quepem</option>
                <option value="ambegol">Ambegol Ponda</option>
                <option value="anjuna">Anjuna</option>
                <option value="aquem">Aquem Margao</option>
                <option value="arady">Arady</option>
                <option value="arlem">Arlem</option>
                <option value="assolda">Assolda Quepem</option>
                <option value="balli">Balli,Quepem</option>
                <option value="bandiwade">Bandiwade Bokadbag Bandora</option>
                <option value="cacora">Bansai, Cacora</option>
                <option value="betim">Betim</option>
                <option value="bhimgal">Bhimgal,Quepem</option>
                <option value="bhironda">Bhironda panchayat Sattari</option>
                <!-- <option value="nagzari">Bazar Mol Nagzari Ponda</option> -->
                <option value="bicholim">Bicholim</option>
                <option value="bindimol">Bindimol,Quepem</option>
                <option value="bogmalo">Bogmalo</option>
                <option value="britona">Britona</option>
                <option value="calangute">Calangute</option>
                <option value="camotim">Camotim</option>
                <option value="canca">Canca</option>
                <option value="canacona">Canacona</option>
                <option value="candolim">Candolim</option>
                <option value="canfraria">Canfraria</option>
                <option value="carambolim">Carambolim</option>
                <option value="chapora">Chapora</option>
                <!-- <option value="chinchnagar">Chinchnagar, Xeldem Tilamol</option>
                <option value="comonsai">Comonsai,Xeldem,Quepem</option> -->
                <option value="collem">Collem</option>
                <option value="colvale">Colvale</option>
                <option value="corlim | Khorlim">Corlim</option>
                <option value="costi">Costi Cullem, Sanguem Goa</option>
                <option value="cuchelim">Cuchelim</option>
                <option value="cumbharjua">Cumbharjua</option>
                <option value="curchorem">Curchorem</option>
                <option value="corjuem">Cuxem, Corjuem, Cottarbhat, Aldona, Ucassaim , Panari</option>
                <option value="dabolim">Dabolim</option>
                <option value="diwar">Diwar</option>
                <option value="donapaul">Donapaul</option>
                <option value="durbhat">Durbhat Ponda</option>
                <option value="ecodi">Ecodi Manas</option>
                <option value="farmagudi">Farmagudi</option>
                <option value="fatorda">Fatorda</option>
                <option value="gogol">Gogol Margao</option>
                <option value="guleli">Guleli panchayat area</option>
                <option value="hivre-budruk">Hivre-budruk, hivre khurd, thane panchayat</option>
                <option value="honda">Honda</option>
                <option value="karaswada">Karaswada Mapusa</option>
                <option value="keri">Keri</option>
                <option value="loutolim">Loutolim</option>
                <option value="madel">Madel and Thivim</option>
                <option value="maem">Maem, Vaiginuem, Bicholim</option>
                <option value="mala">Mala</option>
                <option value="mandrem">Mandrem</option>
                <option value="mapusa">mapusa</option>
                <option value="marcel">Marcela</option>
                <option value="mardol">mardol</option>
                <option value="margao">margao</option>
                <option value="mauxi">Mauxi</option>
                <option value="merces">Merces</option>
                <option value="miramar">miramar</option>
                <option value="moira">Moira</option>
                <option value="morjim">morjim</option>
                <option value="morlem">Morlem</option>
                <option value="mormugao">Mormugao</option>
                <option value="mulgaon">Mulgaon</option>
                <option value="nagargao">nagargao panchayat area</option>
                <option value="nagoa">nagoa</option>
                <option value="netravali">netravali</option>
                <option value="old">Old Goa</option>
                <option value="orda">Orda</option>
                <option value="panaji">panaji</option>
                <option value="panzorconi">Panzorconi</option>
                <option value="penha">Penha De Franca</option>
                <option value="pernem">Pernem</option>
                <option value="pilerne">Pilerne</option>
                <option value="pirla">Pirla</option>
                <option value="pissurlem">Pissurlem Panchayat area</option>
                <option value="ponda">ponda</option>
                <option value="porvorim">porvorim</option>
                <option value="quepem">Quepem</option>
                <option value="saligao">Saligao</option>
                <option value="Salvador-Do-Mundo">Salvador-Do-Mundo</option>
                <option value="sainagar">Sainagar, Santerxette</option>
                <option value="sangolda">Sangolda</option>
                <option value="sanguem">sanguem</option>
                <option value="sankhali">Sankhali</option>
                <option value="sanquelim">sanquelim</option>
                <option value="sanvordem">Sanvordem</option>
                <option value="sattari">Sattari</option>
                <option value="shiroda">shiroda</option>
                <option value="shiroli">Shiroli village are, keri panchayat</option>
                <option value="sinquerim">Sinquerim, Dando, Souza Vaddo, Bamon Vaddo, Vaddy, Marquis Vaddo, Sequeira Vaddo, Pintos Vaddo, Ana Vaddo Candolim</option>
                <option value="siolim">Siolim, Marna, Sodium, Carmulim, Oxel</option>
                <option value="esteva">St. Esteva</option>
                <option value="socorro">Socorro</option>
                <option value="succoro">succoro</option>
                <option value="surla">Surla village and keri panchayat</option>
                <option value="taleigao">Taleigao</option>
                <option value="tercena">Tercena</option>
                <option value="thane">Thane</option>
                <option value="tilamol">Tilamol</option>
                <option value="tiswadi">Tiswadi</option>
                <option value="usgao">usgao</option>
                <option value="vagator">Vagator</option>
                <option value="valpoi">valpoi</option>
                <option value="vasco">vasco</option>
                <option value="verna">verna</option>
                <option value="xeldem">Xeldem</option>
                <option value="ximer">Ximer</option>
            </select>
          </div>

            <div class="cell medium-10">

            <h6>Filter by commodity</h6>

            <div class="type-selection">
                <input type="radio" name="type" id="all" checked value="all">
                <label for="all"><img src="img/all.svg" alt="">All</label>

                <input type="radio" name="type" id="grocery" value="grocery">
                <label for="grocery"><img src="img/grocery.svg" alt="">Grocery</label>

                <input type="radio" name="type" id="medicine" value="medicine">
                <label for="medicine"><img src="img/medical.svg" alt="">Medical</label>

                <input type="radio" name="type" id="milk" value="milk">
                <label for="milk"><img src="img/milk.svg" alt="">Milk</label>

                <input type="radio" name="type" id="vegetables" value="vegetables">
                <label for="vegetables"><img src="img/vegitable.svg" alt="">Vegetables</label>

                <input type="radio" name="type" id="fish" value="fish">
                <label for="fish"><img src="img/fish.svg" alt="">Fish &amp; Meat</label>

                <input type="radio" name="type" id="needy" value="food for needy">
                <label for="needy"><img src="img/kind.svg" alt="">Food for Needy</label>

                <!-- <input type="radio" name="type" id="food-helpline" value="food helpline">
                <label for="food-helpline"><img src="img/kind.svg" alt="">Food Helpline</label> -->
            </div>

          </div>
          </div>
            <!-- <button id="filter" class="button">FILTER</button> -->
        </div>
    </section>
    <section class="content">
        <div class="grid-container">
            <ul id="contact-list" class="grid-x grid-padding-x">
                <li class="cell medium-6" v-if="!isLoading" v-for="(contact,index) in contactList" :id="index">
                  <div class="wrap">
                    <p class="shop-name"><img src="img/help.svg" alt="">
                        {{contact.shopName}}
                    </p>

                    <div class="contact" v-if="contact.whatsapp==='no'">
                      <a v-for="phone in contact.phone" :href="`tel:${phone}`" ><img src="img/call.svg" alt=""><span>{{phone}}</span></a>
                    </div>
                    <div class="contact" v-if="contact.whatsapp==='yes'">
                        <a v-for="phone in contact.phone" target="_blank" :href="`https://api.whatsapp.com/send?phone=${phone}&text=hi`" ><span>{{phone}}</span></a>
                        <h6 class="type">
                            <span class="type-inner" v-for="type in contact.type">
                              {{type}},
                            </span>
                            <!-- {{contact.type.join(", ")}} -->
                        </h6>
                    </div>
                    <div class="other-info">
                        <p class="location" title="Location"><img src="img/location.svg" alt="">{{contact.location}}</p>
                        <p class="call-whatsapp">
                            Order by: <b v-if="contact.whatsapp==='no' || contact.whatsapp==='' ">Call/SMS</b>
                            <b v-if="contact.whatsapp==='yes'">whatsapp only</b>
                        </p>
                    </div>

                    <a class="more-link" v-if="contact.anyImage != '' " :href="contact.anyImage" target="_blank" rel="noopener noreferrer" style="border-radius: 5px;background-color: #FBFDC9; display: inline-block; padding: 14px;border: 2px solid #282828;margin-right: 10px;">More info</a>

                    <h6 class="type">
                      <span class="type-inner" v-for="type in contact.type">
                        {{type}},
                      </span>
                    </h6>

                    <a class="leave-feedback" target="_blank" data-open="feedback-modal" :data-link="`https://docs.google.com/forms/d/e/1FAIpQLScet8xoADXBEgVGVxBZOdIxiaYWaM6-OOWtVqEZnO2dXgaOmQ/viewform?usp=pp_url&entry.1929177201=${contact.shopName}&entry.1186530179=${contact.phone}`">Leave feedback</a>
                  </div><!-- Wrap -->
                </li>
                <li v-if="contactList.length === 0 && !isLoading">
                    <h2 class="text-center">No results found!</h2>
                    <p class="text-center">To add information please
                        <a style="color: blue; text-decoration: underline;" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdIwhoXWbVNd6_ZIXTAV8lCkmLo_cwuZ8jVY6rkssdYJA4Upw/viewform?usp=sf_link">click here</a></p>
                </li>
                <li v-if="isLoading">
                  <h4 class="text-center loading-data">Loading data...</h4>
              </li>
            </ul>

        </div>
    </section>
    <div class="reveal full" id="feedback-modal" data-reveal>
      <iframe src="" width="640" height="872" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@5.0.10-beta/dist/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
    <script src="js/global.js"></script>
</body>
</html>
